<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="/weather">Check out your local weather</a></li>
  </ul>
</div>
<br>
<form class="weather-search">
  <label>Select your location</label>
  <input ng-model="location" type="text" />
  <button type="submit" ng-click="getWeather()">Get weather!</button>
</form>
<br>
<label>{{location}}</label>
<br>

<div class="weather">
  <p>Weather description</p>
  <p>{{weather.weatherDesc[0].value}}</p><br>
  <p>Time measured</p>
  <p>{{weather.observation_time}}</p><br>
  <p>Temperature</p>
  <p>{{weather.temp_C}} C</p><br>
  <p>Windspeed (m/s)</p>
  <p>{{weather.windspeedKmph}}</p><br>
  <img href={{weather.weatherIconUrl}} />
</div>
                                